In [1]:
import pandas as pd

In [8]:
people ={
    "first" : ["avinash","Aditya","rahul"],
    "last" : ["singh","kumar","singh"],
    "email" : ["avs@gmail.com","aditya@gmail.com","rahulak@gmail.com"]

}

In [16]:
df= pd.DataFrame(people)

In [17]:
df

     first   last              email
0  avinash  singh      avs@gmail.com
1   Aditya  kumar   aditya@gmail.com
2    rahul  singh  rahulak@gmail.com

In [18]:
df["email"]

0        avs@gmail.com
1     aditya@gmail.com
2    rahulak@gmail.com
Name: email, dtype: object

In [19]:
type(df["email"])

pandas.core.series.Series

In [20]:
df.email

0        avs@gmail.com
1     aditya@gmail.com
2    rahulak@gmail.com
Name: email, dtype: object

In [22]:
df[["last","email"]]

    last              email
0  singh      avs@gmail.com
1  kumar   aditya@gmail.com
2  singh  rahulak@gmail.com

In [24]:
df.columns  #to get colums

Index(['first', 'last', 'email'], dtype='object')

In [27]:
df.iloc[0]   # to get row , it gives first rows of data

first          avinash
last             singh
email    avs@gmail.com
Name: 0, dtype: object

In [28]:
df.iloc[[0,1]]

     first   last             email
0  avinash  singh     avs@gmail.com
1   Aditya  kumar  aditya@gmail.com

In [ ]:
df.iloc[[0,1],2]

0       avs@gmail.com
1    aditya@gmail.com
Name: email, dtype: object

In [30]:
df

     first   last              email
0  avinash  singh      avs@gmail.com
1   Aditya  kumar   aditya@gmail.com
2    rahul  singh  rahulak@gmail.com

In [31]:
df.loc[0]

first          avinash
last             singh
email    avs@gmail.com
Name: 0, dtype: object

In [32]:
df.loc[[0,1]]

     first   last             email
0  avinash  singh     avs@gmail.com
1   Aditya  kumar  aditya@gmail.com

In [36]:
df.loc[[0,1],['email','last']]

              email   last
0     avs@gmail.com  singh
1  aditya@gmail.com  kumar

In [38]:
df = pd.read_csv('C:/Users/avina/OneDrive/Desktop/Python for data anylysis/Pandas/DATA/survey_results_public.csv')
schema_df =pd.read_csv('C:/Users/avina/OneDrive/Desktop/Python for data anylysis/Pandas/DATA/survey_results_schema.csv')

In [39]:
pd.set_option('display.max_columns',114) 
pd.set_option('display.max_rows',87)

In [41]:
df.head(2)

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,TechDoc,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,BuildvsBuy,TechEndorse,Country,Currency,CompTotal,LanguageHaveWorkedWith,LanguageWantToWorkWith,LanguageAdmired,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,DatabaseAdmired,PlatformHaveWorkedWith,PlatformWantToWorkWith,PlatformAdmired,WebframeHaveWorkedWith,WebframeWantToWorkWith,WebframeAdmired,EmbeddedHaveWorkedWith,EmbeddedWantToWorkWith,EmbeddedAdmired,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,MiscTechAdmired,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,ToolsTechAdmired,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,NEWCollabToolsAdmired,OpSysPersonal use,OpSysProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackAsyncAdmired,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,OfficeStackSyncAdmired,AISearchDevHaveWorkedWith,AISearchDevWantToWorkWith,AISearchDevAdmired,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOHow,SOComm,AISelect,AISent,AIBen,AIAcc,AIComplex,AIToolCurrently Using,AIToolInterested in Using,AIToolNot interested in Using,AINextMuch more integrated,AINextNo change,AINextMore integrated,AINextLess integrated,AINextMuch less integrated,AIThreat,AIEthics,AIChallenges,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Knowledge_8,Knowledge_9,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Frustration,ProfessionalTech,ProfessionalCloud,ProfessionalQuestion,Industry,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I have never visited Stack Overflow or the Sta...,NaN,NaN,NaN,NaN,NaN,Yes,Very favorable,Increase productivity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,20,17,"Developer, full-stack",NaN,NaN,NaN,NaN,NaN,United Kingdom of Great Britain and Northern I...,NaN,NaN,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Dynamodb;MongoDB;PostgreSQL,PostgreSQL,PostgreSQL,Amazon Web Services (AWS);Heroku;Netlify,Amazon Web Services (AWS);Heroku;Netlify,Amazon Web Services (AWS);Heroku;Netlify,Express;Next.js;Node.js;React,Express;Htmx;Node.js;React;Remix,Express;Node.js;React,NaN,NaN,NaN,NaN,NaN,NaN,Docker;Homebrew;Kubernetes;npm;Vite;Webpack,Docker;Homebrew;Kubernetes;npm;Vite;Webpack,Docker;Homebrew;Kubernetes;npm;Vite;Webpack,PyCharm;Visual Studio Code;WebStorm,PyCharm;Visual Studio Code;WebStorm,PyCharm;Visual Studio Code;WebStorm,MacOS;Windows,MacOS,NaN,NaN,NaN,Microsoft Teams;Slack,Slack,Slack,NaN,NaN,NaN,Stack Overflow for Teams (private knowledge sh...,Multiple times per day,Yes,Multiple times per day,Quickly finding code solutions;Finding reliabl...,"Yes, definitely","No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Individual contributor,17.0,Agree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Disagree,Agree,Agree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [42]:
df.shape

(65437, 114)

In [43]:
df.columns

Index(['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       ...
       'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9',
       'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'JobSat'],
      dtype='object', length=114)

In [44]:
df['Employment']

0        Employed, full-time
1        Employed, full-time
2        Employed, full-time
3         Student, full-time
4         Student, full-time
                ...
65432    Employed, full-time
65433    Employed, full-time
65434    Employed, full-time
65435    Employed, full-time
65436     Student, full-time
Name: Employment, Length: 65437, dtype: object

In [45]:
df['Employment'].value_counts()

Employment
Employed, full-time                                                                                                                                   39041
Independent contractor, freelancer, or self-employed                                                                                                   4846
Student, full-time                                                                                                                                     4709
Employed, full-time;Independent contractor, freelancer, or self-employed                                                                               3557
Not employed, but looking for work                                                                                                                     2341
                                                                                                                                                      ...
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Employed, part-time        1
Student, full-time;Retired                                                                                                                                1
Employed, full-time;Not employed, but looking for work;Student, part-time                                                                                 1
Not employed, and not looking for work;Student, part-time;Employed, part-time                                                                             1
Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Student, part-time;Retired                                        1
Name: count, Length: 110, dtype: int64

In [49]:
df.loc[[0,1,2],['Employment']]

            Employment
0  Employed, full-time
1  Employed, full-time
2  Employed, full-time

In [50]:
df.loc[0:2,['Employment']]

            Employment
0  Employed, full-time
1  Employed, full-time
2  Employed, full-time